<ion-content [fullscreen]="true">
  <ion-card id="menu">
    <ion-list>
      <ion-list-header>
        <ion-buttons>
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
        <h2>오늘의 당첨자</h2>
      </ion-list-header>


    </ion-list>
    <ion-card-content>
      <div id="container" ></div>
      <div class='controls'>
        <button id="play">돌아라~ 운명의신~</button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

