
ion-content {
  --ion-background-color: linear-gradient(#002F67, #002F67, #023168, #174275, #748EAC);
}

ion-grid {
  color: white;
  padding: 0;
}

ion-row, ion-col {
  padding: 0;
}

ion-row {
  margin-bottom: 6vh;
//   margin-bottom: 70px;
}

ion-title {
  text-align: right;
  margin-top: 1.9vh;
//   margin-top: 15px;
  color: #2980b9;
  font-size: 0.85rem;
//   font-size: 14px;
}

img {
  width: 12.5vmin;
//   width: 50px;
  margin: 6.55vh 0 0 13.5vw;
//   margin: 54px 0 0 56px;
}

h1 {
  font-weight: 900;
  font-size: 1.9rem;
//   font-size: 30px;
  margin-top: 7.8vh;
//   margin-top: 64px;
}

ion-card {
  --ion-background-color: white;
  width: 100vw;
  height: 70vh;
  margin: 0;
  border-radius: 30px 30px 0 0;
  overflow: scroll;

  position: fixed;
  bottom: 0;

  animation: fadeInCard 0.8s ease-in-out;
}

ion-card-header {
  padding: 0;
}

h2 {
  color: black;
  font-weight: 900;
  text-align: center;
  font-size: 1.6rem;
//   font-size: 26px;
  padding: 10vh 0 4vh 0;
//   padding: 54px 0 32px 0;
}

p {
  color: black;
  font-size: 1rem;
//   font-size: 16px;
  text-align: center;
  padding-bottom: 1vh;
//   padding-bottom: 10px;
}

strong {
  font-weight: 600;
  font-size: 0.97rem;
}

span {
  color: #2880b9;
}

ion-button {
  width: 85vmin;
  margin: auto;
  margin-top: 6vh;
  margin-bottom: 6vh;
//   position: fixed;
//   bottom: 8vh;
//   left: 0;
//   right: 0;
//   margin: 40px 30px 0 30px;
  --border-radius: 15px;
//   --background: gray;
//   --background-activated: gray;
}

#inputBox {
  width: 66vmin;
  margin: 0 auto;
  margin-top: 9vh;
//   position: fixed;
//   bottom: 20vh;
//   left: 0;
//   right: 0;
//   margin: 50px 70px 0 70px;
  padding: 0.62vmax 1vmin;
//   padding: 5px;
  background-color: #e6eaef;
  border-radius: 10px;
  font-size: 0.85rem;

  ion-icon {
    font-size: 2.2rem;
//     font-size: 36px;
    float: left;
    padding: 0.5vmin;
//     padding: 2px 1px 1px 2px;
    color: #768dab;
  }

  ion-input {
    width: 54vmin;
//     width: 220px;
    border: 0.18rem solid #e6eaef;
//     border: 2px solid #e6eaef;
    border-radius: 10px;
    background-color: white;
  }
}

.logo {
  animation: fadeInImage 1.8s ease;
}

.title {
  animation: fadeInTitle 2s ease-in-out;
}

// #checkBox {
//   padding: 0 75px;
//   text-align: right;
//
//   ion-label {
//     margin-right: 8px;
//     font-size: 13px;
//   }
//
//   ion-checkbox {
//     width: 20px;
//     height: 20px;
//     margin-top: 10px;
//   }
// }

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: translateY(6.1vh);
//     transform: translateY(50px);
  }

  to {
    opacity: 10;
    transform: none;
  }
}

@keyframes fadeInImage {
  from {
    width: 25vw;
//     width: 100px;
    transform: translateX(25vw) translateY(-25vw);
//     transform: translateX(110px) translateY(-110px);
  }

  to {
    transform: none;
  }
}

@keyframes fadeInTitle {
  from {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  to {
    opacity: 10;
  }
}
