
h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 3vw;
}

ion-content {
  --ion-background-color: #DAE0E9;
}

ion-card {
  margin: 3.7vw;
  padding-bottom: 1.5vh;
  border-radius: 0.9rem;
  overflow: hidden;
  --ion-background-color: white;
  min-height: 40vh;
}

ion-list-header {
  margin-top: 1vh;
}

ion-grid {
  width: 78vw;
  padding: 0;
  margin-top: 1.7vh;
  color: black;
  text-align: center;
  border-collapse: collapse;

  ion-row {
    padding: 0.1rem;
    border: solid #cccccc;
    border-width: 0.25vmin 0 0 0;
    min-height: 2.5vh;
    align-items: center;
  }

  ion-label {
    font-size: 0.95rem;
  }

  .last-row {
    border: solid #cacaca;
    border-width: 0.25vmin 0;
  }

  .result {
    background-color: #eaeaea;
    font-weight: bold;
  }
}

#menu {
  ion-icon {
    color: #002f67;
    font-size: 1.6rem;
    margin: 3vmin 3vmin 1vmin 3vmin;
  }

  ion-chip {
    height: 2.5vh;
    margin-top: 2vh;

    ion-label {
      font-size: 0.6rem;
    }
  }
}

#complete {
  height: 1.8rem;
  padding: 0 0.4rem;
  margin-left: 3.5rem;

  border: 0.25vmin solid #768dab;
  border-radius: 0.6rem;

  ion-label {
    color: #002f67;
    font-size: 0.78rem;
  }

  ion-icon {
    margin: 0;
    color: #002f67;
    font-size: 0.88rem;
    padding: 1vmin;
  }
}

#receipt {
  h2 {
    margin-left: 7vw;
  }

  ion-button {
    height: 1.9rem;
    padding: 0 0.4rem;
    margin-left: 8.3rem;

    border: 0.25vmin solid #768dab;
    border-radius: 0.6rem;

    ion-label {
      color: #002f67;
      font-size: 0.78rem;
    }

    ion-icon {
      color: #002f67;
      font-size: 0.88rem;
      padding: 1vmin;
    }
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
