h2 {
  font-weight: bold;
}

ion-content {
  --ion-background-color: #DAE0E9;
}

ion-card {
  margin: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
  --ion-background-color: white;
  min-height: 44%;
}

ion-list-header {
  margin-top: 10px;
}

ion-grid {
  width: 320px;
  padding: 0;
  margin-top: 15px;
  color: black;
  text-align: center;
  border-collapse: collapse;
}

ion-row {
  border: solid #cccccc;
  border-width: 1px 0 0 0;
  min-height: 30px;
  line-height: 20px;
}

ion-chip {
  height: 20px;
  margin-top: 15px;
  font-size: 10px;
}

ion-icon {
  color: #002f67;
  font-size: 25px !important;
  padding: 10px;
}

#state1 {
  width: 43px;
  margin-left: 10px;
}

#state2 {
  width: 62px;
}

#receipt {
  padding-left: 20px;
  padding-right: 200px;
}

.result {
  background-color: #eaeaea;
  font-weight: bold;
}

.last-row {
  border: solid #cacaca;
  border-width: 1px 0;
}
