/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.alert-wrapper.sc-ion-alert-md {
  min-width: 85vmin;
//   min-width: 350px;
}

.alert-head.sc-ion-alert-md {
  width: 85vmin;
  padding: 6vh 0 0 0;
//   padding: 40px 0 10px 0;
}

.alert-title.sc-ion-alert-md {
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;
//   font-size: 22px;
  text-align: center;
}

.alert-sub-title.sc-ion-alert-md {
  color: black;
  padding: 1vh 0 2vh 0;
  text-align: center;
  font-size: 1rem;
}

.alert-input-group.sc-ion-alert-md {
  width: 75vmin;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.alert-input.sc-ion-alert-md {
  font-size: 0.95rem;
}

.alert-button-group.sc-ion-alert-md {
  justify-content: center !important;
  padding: 2vh 0 3vh 0;
}

.alert-button.sc-ion-alert-md {
  padding: 1vw 3.5vw;
  margin: 0;
  border-radius: 0.9rem;
//   border-radius: 15px;
}

.alert-button-inner.sc-ion-alert-md {
  font-size: 0.85rem;
}

.updateMenuInfo, .createUserMenu, .updateUserMenu, .readInfo  {
  .cancel {
    color: #3880ff;
    background-color: white;
    border: 0.25vmin solid #9abfff;
    margin-right: 4vw;
  }

  .confirm {
    color: white;
    background-color: #3880ff;
  }
}

// .selectInfo {
//   color: black;
//   text-align: center;
//   height:100px;
// }

// .upsertMenu {
//   .alert-input {
//     content: 'ppppppp';
//   }
//   .alert-input::before {
//     content: 'ppppppp';
//   }
// }

ion-button {
  --padding-start: 0px !important;
  --padding-end: 0px !important;
}

// .sc-ion-buttons-md-s ion-icon[slot=end] {
//   margin-left: unset;
//   -webkit-margin-start: 0.4em;
//   margin-inline-start: 0.4em;
// }

* {
  font-family: 'NanumSquareRound';
  --ion-font-family: 'NanumSquareRound';
  font-size: 3.8vmin;
//   font-size: 16px;
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
