<ion-content
  [fullscreen]="true"
  [ngClass]="scrolling ? 'scroll_view' : ''">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" style="margin-top: 1.5rem">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-list>
      <ion-list-header id="header1">
        <h2>오늘의 {{ today.slice(0, 1) == 'L' ? "점심" : "저녁" }}</h2>

        <ion-chip color="secondary">
          <ion-label>
            {{ menu ? menu : '10글자 이하 작성' }}
          </ion-label>
        </ion-chip>

<!--        <ion-chip color="primary">-->
<!--          <ion-label>-->
<!--            {{ state ? state : '-&#45;&#45;' }}-->
<!--          </ion-label>-->
<!--        </ion-chip>-->
      </ion-list-header>

      <ion-list-header id="header2">
        <ion-buttons>
          <ion-button (click)="goLink()">
            <ion-label>음식점</ion-label>
            <ion-icon name="restaurant"></ion-icon>
          </ion-button>
          <ion-button (click)="updateMenuInfo()">
            <ion-label>메뉴 설정</ion-label>
            <ion-icon name="hammer"></ion-icon>
          </ion-button>
          <ion-button (click)="goResult()">
            <ion-label>주문서</ion-label>
            <ion-icon name="receipt"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-list-header>

      <ion-item *ngFor="let item of menuList">
        <ion-avatar slot="start">
          <img src="./assets/icon/avatar.png">
        </ion-avatar>

        <ion-label>
          <h3>{{ item['name'] }}</h3>
          <h4 class="menu">{{ item['menu'] }}</h4>
          <h4 class="cnt">{{ item['cnt'] + '개' }}</h4>
          <h4 class="price">{{ item['price'].toLocaleString('ko-KR') + '원' }}</h4>
        </ion-label>

        <ion-buttons id="userOnly" *ngIf="item['name'] === userName">
          <ion-button (click)="updateUserMenu()">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

    </ion-list>

    <ion-text>화면을 아래로 당겨 목록을 새로고침 해보세요!</ion-text>

  </ion-card>

  <ion-footer>
    <ion-item>
      <ion-input
        (ionChange)="onChange($event)"
        (keyup)="onKeyUp($event)"
        clearInput
        placeholder="주문할 메뉴를 입력해주세요."></ion-input>

      <ion-buttons>
        <ion-button (click)="createUserMenu()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-footer>
</ion-content>
