
h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  margin-right: 3vw;
}

h3, h4 {
  font-size: 0.9rem;
}

h4 {
  margin-top: 0.4rem;
  padding-right: 0.2rem;
  display: inline-block;
}

ion-content {
  --ion-background-color: #DAE0E9;
}

ion-card {
  min-height: 90vh;
  margin: 3.7vw;
  margin-bottom: 10vh;
  padding-bottom: 2vh;
  border-radius: 0.9rem;
  overflow: hidden;
  --ion-background-color: white;
  text-align: center;

  ion-item {
    margin: 2.2vmin;
    ion-avatar {
      width: 10vmin;
      height: 10vmin;
    }
  }
}

ion-list {
  padding: 2.3vmin;
}

ion-label {
  margin: 0;
  padding: 0;
}

ion-chip {
  height: 1.5rem;
  margin-top: 1rem;
  margin-left: 0.5rem;

  ion-label {
    font-size: 0.8rem;
  }
}

ion-button {
  color: #002f67;

  ion-icon {
    font-size: 1.5rem;
  }
}

ion-text {
  font-size: 0.6rem;
}

ion-footer {
  position: fixed;
  bottom: 0;

  ion-input {
    font-size: 1rem;
  }
}

#header1 {
  height: 5vh;
  margin-top: 1.5vh;
  margin-left: 2.5vw;
}

#header2 {
  margin-left: 1.5vw;
  margin-top: 1vmin;

  ion-button {
    height: 7vmin;
    padding: 0 1.5vmin;
    margin-right: 2vmin;
    border: 0.25vmin solid #768dab;
    border-radius: 0.5rem;

    ion-label {
      font-size: 0.78rem;
    }

    ion-icon {
      font-size: 0.88rem;
      padding: 1vmin;
    }
  }

  ion-button:active {
    background-color: #e6eaef;
  }
}

.menu {
  width: 25vw;
}

.cnt {
  width: 10vw;
  text-align: center;
}

.price {
  width: 16vw;
  text-align: right;
}

#userOnly {
  position: relative;
  top: 0.5rem;
  right: 0.2rem;

  ion-icon {
    font-size: 1rem;
  }
}

.scroll_view .scroll-content{
  overflow-y: overlay;
}
.scroll_view .scroll-content::-webkit-scrollbar {
  -webkit-appearance: none;
}
.scroll_view .scroll-content::-webkit-scrollbar:vertical {
  width: 3px;
}
.scroll_view .scroll-content::-webkit-scrollbar:horizontal {
  height: 3px;
}
.scroll_view .scroll-content::-webkit-scrollbar-thumb {
  border-radius: 8px; background-color: rgba(0, 0, 0, .5);
}
